# import libraries

In [1]:

import pandas as pd

# import data

In [2]:
data = pd.read_json("./data/House of cards/2019-08-15 KYPO Summer School/sandbox-396-useractions.json")

In [9]:
# data.head(10)
data = data.drop(["sandbox_id"], axis=1)
data.head()

,cmd_type,pool_id,timestamp_str,hostname,cmd,ip,username,wd
0,bash-command,0,2019-08-14 15:40:19.345589+00:00,attacker,nmap 172.18.1.5,10.0.135.83,root,/root
1,bash-command,0,2019-08-14 15:40:34.470540+00:00,attacker,nmap -A -p 22 172.18.1.5,10.0.135.83,root,/root
2,bash-command,0,2019-08-14 15:46:27.404601+00:00,attacker,service postgresql start,10.0.135.83,root,/root
3,bash-command,0,2019-08-14 15:46:31.391699+00:00,attacker,msfdb init,10.0.135.83,root,/root
4,bash-command,0,2019-08-14 15:46:34.560332+00:00,attacker,msfconsole,10.0.135.83,root,/root

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cmd_type       118 non-null    object
 1   pool_id        118 non-null    int64
 2   sandbox_id     118 non-null    int64
 3   timestamp_str  118 non-null    datetime64[ns, UTC]
 4   hostname       118 non-null    object
 5   cmd            118 non-null    object
 6   ip             118 non-null    object
 7   username       40 non-null     object
 8   wd             40 non-null     object
dtypes: datetime64[ns, UTC](1), int64(2), object(6)
memory usage: 8.4+ KB

In [25]:
data["wd"]

0      /root
1      /root
2      /root
3      /root
4      /root
       ...
113    /root
114      NaN
115      NaN
116      NaN
117    /root
Name: wd, Length: 118, dtype: object

In [36]:
(data[data["cmd_type"] == "msf-command"])

,cmd_type,pool_id,sandbox_id,timestamp_str,hostname,cmd,ip,username,wd
5,msf-command,0,396,2019-08-14 15:46:50.311978+00:00,attacker,workspace,10.0.135.83,NaN,NaN
6,msf-command,0,396,2019-08-14 15:47:00.207530+00:00,attacker,search openssh,10.0.135.83,NaN,NaN
12,msf-command,0,396,2019-08-14 15:58:52.640366+00:00,attacker,search libssh,10.0.135.83,NaN,NaN
13,msf-command,0,396,2019-08-14 15:59:09.186093+00:00,attacker,use 0,10.0.135.83,NaN,NaN
14,msf-command,0,396,2019-08-14 15:59:17.189930+00:00,attacker,show options,10.0.135.83,NaN,NaN
...,...,...,...,...,...,...,...,...,...
109,msf-command,0,396,2019-08-14 16:42:08.516211+00:00,attacker,run,10.0.135.83,NaN,NaN
110,msf-command,0,396,2019-08-14 16:42:30.950962+00:00,attacker,set lhost 10.0.135.83,10.0.135.83,NaN,NaN
114,msf-command,0,396,2019-08-14 17:18:03.410313+00:00,attacker,sessions -i 1,10.0.135.83,NaN,NaN
115,msf-command,0,396,2019-08-14 17:18:04.825660+00:00,attacker,exit,10.0.135.83,NaN,NaN
116,msf-command,0,396,2019-08-14 17:18:07.658224+00:00,attacker,exit -y,10.0.135.83,NaN,NaN

In [37]:
data["cmd"]

0               nmap 172.18.1.5
1      nmap -A -p 22 172.18.1.5
2      service postgresql start
3                    msfdb init
4                    msfconsole
                 ...
113                        exit
114               sessions -i 1
115                        exit
116                     exit -y
117                        exit
Name: cmd, Length: 118, dtype: object

In [40]:
data["cmd_type"].value_counts()

msf-command     78
bash-command    40
Name: cmd_type, dtype: int64